body{
    background-color: rgba(226, 213, 213, 0.664);
    font-family: 'Poppins', sans-serif;
    font-size: 26px;

}
.name{
    color: orange;
}
.half{
    width: 40%;
    float: left;
}
.half img{
    width: 100%;
}