body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
p{
    font-size: 15px;
    text-align: justify;
    color: dimgray;
}
.name{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 20px;
}
.half img{
    width: 100%;
    padding-top: 20px;
}
.top{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon ,tomato );
    padding: 6px 17px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.another-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 20px;
}
.another-half img{
    width: 100%;

}
.middle{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;


}
.last{
    
    border-left: solid 8px orange;
    box-shadow: 10px 10px 40px gray;
    border-top-right-radius: 15px;
    height: 350px;
    padding-right: 15px;


}
.last h6{
    color: orange;
    margin-bottom: -4px;
}
.bottom{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#unique{
    border-image: linear-gradient( 180deg,purple,pink) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}